# MongoDB Atlas
MONGO_URI=mongodb+srv://Abhay_Maddy:AmHNF2KQU7A8pLqS@cluster0.3fk6reb.mongodb.net/?appName=Cluster0

# Gmail SMTP
GMAIL_USER=abhaymaddheshiya159@gmail.com
GMAIL_APP_PASS=ifedyjaocfngzchw

# Optional ML API
ML_PREDICT_URL=https://disaster-response-system-1.onrender.com

# Server Port
PORT=5000